<footer id="footer"><!--Footer-->
   
        <div class="footer-widget" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">

                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{path('su_front_office_homepage') }}"><span class="fa fa-home">&nbsp;</span>Home</a></li>
                                <li><a href="{{path('front_office_howitworks') }}"><span class="fa fa-question">&nbsp;</span>How it Works</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('front_office_user_stores') }}"><span class="fa fa-building-o">&nbsp;</span>Food Stores</a></li>
                                <li><a href="{{ path('front_office_user_homepage') }}"><span class="fa fa-cutlery">&nbsp;</span>Dish Categories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('front_office_user_orders') }}"><span class="fa fa-tags">&nbsp;</span>Orders</a></li>
                                <li><a href="{{ path('front_office_user_ordershistory') }}"><span class="fa fa-list">&nbsp;</span>History</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{{ path('front_office_user_basket') }}"><span class="fa fa-shopping-cart">&nbsp;</span>Cart</a></li>
                                <li><a href="{{ path('front_office_user_favorites') }}"><span class="fa fa-heart">&nbsp;</span>Favorites</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><h4>We accept:</h4></li>
                            </ul>
                        </div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/amex.png') }}" alt="" /></div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/paypal.png') }}" alt="" /></div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/visa.png') }}" alt="" /></div>
                        <div style="display: inline-table; margin-right:8px;"><img src="{{ asset('images/pay/mastercard.png') }}" alt="" /></div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="foot_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-envelope"></i> contact@atumfood.com</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i> 1-800-465-2194</a></li>
                            <li><a href="#"><i class="fa fa-bookmark"></i> Somerville MA. US.</a></li>
                            <li><a href="{{ path('front_office_privacypolicy') }}"><i class="fa fa-barcode"></i> Privacy Policy</a></li>
                            <li><a href="{{ path('front_office_terms') }}"><i class="fa fa-warning"></i> Terms and conditions</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="companyinfo social-icons "style="margin-top:0px; ">
                        <ul class="nav navbar-nav" style="border-left:1px solid;margin-top:0px; ">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p >Copyright &copy; <script>document.write(new Date().getFullYear())</script> Atum Food. All Rights Reserved.</p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
