{% include 'SuFrontOfficeBundle:Landing:header_top.html.twig' %}
<body>
{% block body %}
{% include 'SuFrontOfficeBundle:Landing:header.html.twig' %}


<div style="height: 50px;"></div>
<section>
    <div class="container">
        <div class="row">
            

            <div class="col-sm-6 col-sm-offset-2"> 
                <h2 class="title text-center">Change Password</h2>
                <div class="login-form"><!--login form-->
                  
                    {% block fos_user_content %}
                  
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                        {{ form_widget(form) }}
                        <div>
                        <button type="submit" id="_submit" name="_submit" class="btn btn-success"><i class="fa fa-lock" style="color: black;"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
  
                        </div>
                    </form>
                    {% endblock fos_user_content %}
                            

                </div><!--Account_items--><br />

               



           </div>
        </div>
    </div>
</section>

{% include 'SuFrontOfficeBundle:Landing:footer.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/price-range.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

</body>
</html>