{% include 'SuFrontOfficeBundle:Landing:header_top.html.twig' %}
<body>
{% block body %}
{% include 'SuFrontOfficeBundle:Landing:header.html.twig' %}


<div style="height: 30px;"></div>
<section id="cart_items">
		<div class="container category-tab">
        
			<h2 class="title text-center">Shopping Cart</h2>
                       
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success" style="background-color: #ffffff;"> 
                <i class="fa fa-check-square"></i>
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
			<div class="table-responsive cart_info">
            


            
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image" style="font-weight: bold;">Item</td>
							<td class="description" style="font-weight: bold;">Description</td>
							<td class="price" style="font-weight: bold;">Price</td>
							<td class="quantity" style="font-weight: bold;">Quantity</td>
							<td class="total" style="font-weight: bold;">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>	
                    <form name="update_cart_item" id="update_cart_item" method="post" action="{{path('front_office_user_update_cart_item')}}" >
                    {% for entity_cart_val in entity_cart %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{ asset('images/dish/') }}/{{ entity_cart_val.dish_image }}" alt="" style="width:150px; height:150px;"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{ entity_cart_val.dish_name }}</a></h4>
								<p>Web ID: {{ entity_cart_val.dish_id }}</p>
							</td>
							<td class="cart_price">
								<p>$ {{ entity_cart_val.dish_price }}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
								
                                    <select name = 'quantity_{{ entity_cart_val.cartid }}' onchange="updateCartItem()" style="width: 60px;">
                                        <option value="{{ entity_cart_val.qty }}">{{ entity_cart_val.qty }}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <input type="hidden" name="cartid_{{ entity_cart_val.cartid }}" value="{{ entity_cart_val.cartid }}">
									
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">
                                {% set total_price = entity_cart_val.dish_price * entity_cart_val.qty %}
                                $ {{ total_price }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{{path('front_office_user_removeitemfromcart', {'id': entity_cart_val.cartid})  }}" title="Remove from cart"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                    {% endfor %}
						</form>
					</tbody>
				</table>
                
                
			</div>
            {% if entity_summ %}
            <div class="col-sm-12">
			<div class="total_area">
				<ul>
					<li><strong>CART SUB TOTAL</strong> <span>$ {{ entity_summ.sub_total }}</span></li>
					<li><strong>TAX</strong> <span>$ {{ entity_summ.tax }}</span></li>
					<li><strong>SHIPPING COST</strong> <span>$ {{ entity_summ.shipping_cost }}</span></li>
					<li><strong>TOTAL</strong> <span>$ {{ entity_summ.total }}</span></li>
				</ul>
                	<a class="btn btn-success" href="{{path('front_office_user_clearcart') }}" title="Clear Cart"><i class="fa fa-unlink" style="color: white;"></i>&nbsp;CLEAR CART</a>
                    <a class="btn btn-success" href="{{ path('front_office_user_homepage') }}" title="Continue Shopping"><i class="fa fa-shopping-cart" style="color: white;"></i>&nbsp;CONTINUE SHOPPING</a>
					<a class="btn btn-success" href="{{path('front_office_user_address') }}" title="Checkout"><i class="fa fa-credit-card" style="color: white;"></i>&nbsp;CHECKOUT</a>
		       
        	</div>
		  </div>
          {% endif %}
		</div>
        
</section>

{% include 'SuFrontOfficeBundle:Landing:footer.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/price-range.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script src="{{ asset('js/autocomplete-dishes.js') }}"></script>
    <script>
        var loader = "{{ asset('images/ajax-loader.gif') }}"; //link to the animated loader-small.gif
        var ROOT_URL = "{{ url('su_front_office_homepage')}}"; //your root URL, used in autocomplete-dishes.js file
    </script>
    <script>
      function updateCartItem(){
        document.getElementById("update_cart_item").submit();
      }
    </script>
{% endblock %}

</body>
</html>